*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;  
    background: #ffffff;
}
.header{
    width: 100%;
    height: 117px;
    background-color: #2E948A;
    display: flex;
    align-items:center;
    justify-content: space-between;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.logo-header{
    width: 164px;
    height: 64px;
    margin-left: 82px;
    margin-bottom: 20px;
}

.menu-nav{
    display: flex;
    gap: 42px;
    margin-right: 103px;
}


.menu-nav a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
}


.titulo-pricipal{
    color: #FF4081;
    font-size: 60px;
    margin-left: 5%;
    margin-top: 5%;
}
.descricao{
    color: #555555;
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 10%;
}
.img-conteudo{
    width: 300px;
    height: 310px;
    float: left;
    margin-left: 10%;
    margin-right: 3%;
}
.lista-conteudo{
    list-style: none;
    
}
h3{
    font-size: 35px;
    color: #FF4081;
    margin-bottom: 3%;
}
p{
    font-size: 18px;
    width: 1170px;
    margin-bottom: 4%;
}
.itens a{
    color: white;
    font-size: 20px;
    background: #419488;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
}
.secao-conteudo{
    border-bottom: 5px solid #C4C4C4;
    padding-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
.secao-final{
    padding-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
.footer{
    width: 100%;
    height: 207px;
    background-color: #2E948A;
    color:  #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-nav{
    line-height: 30px;
}


.footer-nav a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.buttons-footer{
    display: flex;
    flex-direction: column;
    gap: 14px;
    cursor: pointer;
}


.buttons-footer button {
    border-radius: 62px;
    background-color: transparent;
    color: white;
    border-color: white;
    width: 289px;
    height: 51px;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid white;
    cursor: pointer;
}

@media screen and (max-width: 420px){
    .logo{
        height: 35px;
    }
    h1{
        font-size: 25px;
    }
    .nav-principal{
        margin-right: auto;
    }
    nav li{
        font-size: 8px;
    }
    .titulo-pricipal{
        font-size: 20px;
    }
    p{
        width: 400px;
        display: table-cell;
        font-size: 8px;
        padding-bottom: 2%;
    }
    .descricao{
        font-size: 10px;
        padding-left: 5%;
        padding-bottom: 5%;
    }
    .img-conteudo{
        width: 100px;
        height: 110px;
        margin-left: auto;
    }
    h3{
        font-size: 11px;
    }
    .itens a{
        font-size: 8px;
        padding: 5px 15px;
    }
    .secao-conteudo {
        padding-bottom: 40px;
    }
    h4 {
        display: flow-root;
        font-size: 25px;
    }
    .descricao-footer {
        font-size: 11px;
        display: list-item;
    }
    .lista-itens{
        margin-right: 5%;
        font-size: 11px;
    }
    .lista-footer{
        width: 120px;
    }
    .img-footer{
        margin-left: 5%;
        width: 50px;
    }
    .link-footer{
        font-size: 11px;
        padding: 2px 5px;
        width: 90px;
    }
    .secao-final{
        margin-bottom: auto;
        padding-bottom: 70px;
    }
    footer{
        padding-bottom: 7%;
    }
}
@media screen and (max-width: 915px){
    @media  screen and (min-width: 420px) {
        .img-conteudo{
            width: 240px;
            height: 230px;
            margin-bottom: 10%;
            margin-left: 5%;
        }
        p{
            width: 700px;
        }
        .secao-conteudo{
            padding-bottom: 5%;
        }
        .secao-final{
            margin-bottom: 0;
        }
        .lista-footer{
            margin-right: 10%;
        }
        .lista-itens{
            margin-right: 10%;
        }
    
    }
    
}